<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <button asp-area="" asp-controller="Home" asp-action="Index" id="initial">Iniciar Sesion</button>
        <button asp-area="" asp-controller="Home" asp-action="Index" id="checkIn">Registrarse</button>
    </header>

    <div class="space"></div>
    <div class="section">
        <h1>Bienvenido a FullMarket</h1>
        <div class="paragraph">
            <p>Registrate e Inicia Sesion si no estas registrado; para vivir una maravillosa experiencia.</p>
        </div>
    </div>
    <div class="space"></div>
    <footer></footer>

</body>
</html>